body {
  background: #eeeeee;
  font-family: 'Tahoma', 'Verdana', sans-serif;
  background-image: url("media/deepSeaBG.png");
  display: block;
  width: auto;
  height: auto;
}

#canvasContent {
  /* Use hidden for having the canvas layout disappear
    Left in the solid for testing*/
  border: 3px solid black;
  width: auto;
  height: 550px;
}

canvas {
  width: 1000px;
  background: black;
}

#title {
  color: white;
  text-align: center;
  margin-top: 60px;
  font-family: 'Rubik', sans-serif;
}

#displayIcons {
  border: 3px solid white;
  padding: 5%;
  width: 60%;
  left: 80px;
  margin: 20px;
  margin-left: 50px;
  border-radius: 20px;
}

/* Note: The left and top position were done
    assuming if displayed on a 1440x900 screen
    may need to be change
*/
#iconKeys {
  border: 3px solid white;
  border-radius: 20px;
  position: absolute;
  height: 54px;
  width: 60px;
  font-size: 35px;
  text-align: center;
  color: white;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  text-align: center;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  border: 3px solid white;
  border-radius: 6px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  /* This is what create the basic triangle for the icon */
  border-color: #FFF transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* End game stuff */
#foundAll {
  font-size: 72px;
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
  margin-top: 20%;
  display: block;
}

#learnMore {
  font-size: 48px;
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  display: block;
}

#animalName {
  font-family: 'Rubik', sans-serif;
  font-size: 48px;
  position: relative;
  left: 25%;
  top: -180px;
  color: white;
  display: none;
}

#animalInfo {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  position: relative;
  left: 25%;
  top: -155px;
  color: white;
  display: none;
}

#displayEndIcons {
  border: 3px solid white;
  padding: 10%;
  width: 40%;
  top: -110px;
  left: -260px;
  height: auto;
  margin: 20px;
  margin-left: 50px;
  border-radius: 20px;
  transform: rotate(90deg);
  position: relative;
}

#playAgain {
  position: absolute;
  width: 172px;
  height: 69px;
  left: 1177px;
  top: 761px;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 13px;
  color: white;
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
