body {
  background: #eeeeee;
  font-family: "Tahoma", "Verdana", sans-serif;
  background-image: url("media/deepSeaBG.png");
  display: block;
  width: auto;
  height: auto;
}

#canvasContent {
  /* Use hidden for having the canvas layout disappear
    Left in the solid for testing*/
  border: 3px solid black;
  width: auto;
  height: 550px;
}

#title {
  color: white;
  text-align: center;
}

#displayIcons {
  border: 3px solid white;
  padding: 5%;
  width: 60%;
  left: 80px;
  margin: 20px;
  margin-left: 50px;
  border-radius: 20px;
}


/* Note: The left and top position were done
    assuming if displayed on a 1440x900 screen
    may need to be change
*/
#iconKeys {
  border: 3px solid white;
  border-radius: 20px;
  position: absolute;
  height: 54px;
  width: 60px;
  font-size: 35px;
  text-align: center;
  color: white;
}